
<h1>Blog</h1>
<% Post.order_by_time.each do |f|%>
  <div class="post">
    <p><%= link_to f.title, post_path(f.id)%></p>
    <p><%= f.description %></p>
    <p><%= User.find(f.user_id).username %></p>
  </div>
<% end %>
<p>post 2</p>
<p>post 3</p>
