<h1 class="article-heading">Articles</h1>

<div class="container">
  <% Post.ordered_by_user_and_time(current_user).each do |f|%>
    <div class="post">
      <p class="title"><%= link_to f.title, post_path(f.id) %></p>
      <p class="description"><%= f.description %></p>
      <p class="username"><%= User.find(f.user_id).username %></p>
    </div>
  <% end %>
</div>