<h1>Articles</h1>

<div class="post">
<% Post.ordered_by_user_and_time(current_user).each do |f|%>
<p><%= f.title %></p>
<p><%= f.description %></p>
<p><%= User.find(f.user_id).username %></p>
<% end %>
</div>